venv/
.ipynb_checkpoints/
/2023_descriptif-variables_open-medic.xls
/asmr-20240924.csv
/Tableau_moleicules_et_marques_commercialisees_en_France_en_2022.xlsx
/asmr.db
/titanic.csv
/titanic.db
/Chinook.db
/Chinook_Sqlite.sql 
/asmr_v2.db
/llm_oversql_tuto.ipynb
/os
tests/.env
*.xlsx